.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  color: #515151;
}

.title {
  color: #00D083;
}

.messages {
  width: 20em;
  justify-content: center;
  align-items: start;
}

.message-list {
  min-height: 10em;
  background-color: #f3f3f3;
  max-height: 20vh;
  list-style-type: none;
  padding: 2vw;
  text-align: center;
  overflow: auto;
  border-radius: 5px;
}

.message-list li {
  margin-bottom: 1.5em;
}

.message-input {
  display: flex;
  justify-content: space-between;
}

.message-input input {
  width: 100%;
  margin-right: 1vw;
  min-height: 2em;
  border-radius: 5px;
}

.message-input button {
  border: none;
  text-decoration: none;
  background-color: #b5ff00;
  color: #013f3c;
  border-radius: 5px;
  cursor: pointer;
}